<% if(!userData){ %>
    <script>
        alert("비회원은 접근할수 없는 페이지 입니다.")
        location.href = "/login";
    </script>
<% } %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <!-- 아이콘 관련 링크 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    
    <!-- 폰트 관련 링크 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap" rel="stylesheet">

    <!-- 폰트 관련 링크 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- 파비콘 관련 링크 -->
    <link rel="shortcut icon" href="img/favicon_.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon_.ico" type="image/x-icon">

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include("common/subpage_header.ejs") %>
    <%- include("common/contact_banner.ejs") %>

    <div id="brd_insert">
        <div class="center">
            <div class="boxs">
                <div class="box">
                    <i class="fa-solid fa-phone"></i>
                    <p>Reservation</p>
                    <p>+82 287 - 465 - 0659</p>
                </div>
                <div class="box">
                    <i class="fa-regular fa-envelope"></i>
                    <p>Email Info</p>
                    <p>info@grandhotel.com</p>
                </div>
                <div class="box">
                    <i class="fa-solid fa-location-dot"></i>
                    <p>Address</p>
                    <p>360 Harvest St, North Subract, London. United<br>States Of Amrica</p>
                </div>
                <div class="box">
                    <i class="fa-solid fa-earth-americas"></i>
                    <p>Web</p>
                    <p>info@luxuryhotel.com</p>
                </div>
            </div>
            <form action="/update" method="post" enctype="multipart/form-data">
                <input type="hidden" name="hidden" value="<%- brdinfo.brd_id %>">
                <div class="line">
                    <input type="text" name="name" disabled value="<%- userData.joinnick %>">
                    <input type="text" name="email" value="<%- brdinfo.brd_email %>">
                </div>
                <div class="line">
                    <input type="text" name="title" value="<%- brdinfo.brd_title %>">
                    <input type="text" name="number" value="<%- brdinfo.brd_number %>">
                </div>
                <div class="line">
                    <input type="file" name="file" class="file">
                    <input type="hidden" name="originFile" value="<%- brdinfo.fileName %>">
                </div>
                <textarea name="message" placeholder="Write message"><%- brdinfo.brd_context %></textarea>
                <button type="submit">SEND MESSAGE</button>
            </form>
        </div>
    </div>

    <%- include("common/footer.ejs") %> 
</body>
</html>